
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	font-size:50px;
	width:100%;
	flex-wrap:wrap;
	
}
.parent>.one{
	justify-conten:flex-end;
}

.one{
	width:100px;
	height:100px;
	background-color:red;
	display:flex;
	
	
	
	 
	
}
.two{
	width:100px;
	height:100px;
	background-color:blue;
}
.three{
	width:100px;
	height:100px;
	background-color:green;
}